.banner-discover(id="discover")
	.titulo-discover
		.content-titulo
			.siguenos
				a(href="#") manifiesto
	.contenido-banner
		.centra-banner
			.titulo-banner
				|Reason to believe

			.descripcion-banner
				p Somos el Centro de Innovación de VisaNet, un 
				p espacio que busca salirse de la caja para encontrar 
				p soluciones donde otros ven problemas
		.scroll-bottom(class="btn-discover")
			img(src="images/scroll-bottom-blanco.png")
	
	
.proyectos(id="proyectos")
	.titulo-proyectos
		.content-titulo
			.siguenos
				a(href="#") proyectos
	.banner-proyectos
		.play-video
			.ico-play
				a(href="#")
					img(src="images/play.png")

		.content-eco
			.info-eco
				.elementos-eco
					img(src="images/eco.png")
					.titulo-eco
						|Nuestro trabajo con Start Ups
					.descripcion-eco
						p Buscamos una relación directa y cercana con el ecosistema 
						p innovador para crear soluciones disruptivas y transformacionales 
						p que van más allá de nuestro negocio.
					.btn-eco
						a(href="#") Conoce más
		.scroll-bottom(class="btn-proyectos")
			img(src="images/scroll-bottom-blanco.png")
.bizruptores(id="bizruptores")
	.titulo-bizruptores
		.content-titulo
			.siguenos
				a(href="#") #bizruptores
	.team-bizruptores
		ul
			li
				.overlay
					img(src="images/01.jpg")
					.team-redes
						span
							a(href="#" class="linkedin")
						span
							a(href="#" class="twitter")

					.detalle-team
						.nombre OMAR HIDALGO MONTERO
						.descripcion
							p Omar es Ingeniero de sistemas, MBA y líder del equipo de Innovación y transformación organizacional. Como tal, dirige la estrategia de Bizruptiva comprometiéndose con el usuario, transmitiendo empatía y generando en el equipo un ambiente de colaboración. En su tiempo libre pasea a Perseo tratando de que cada día sea un perro menos travieso.
					.nombre-team OMAR HIDALGO MONTERO
			li
				
				.overlay
					img(src="images/02.jpg")
					.team-redes
							span
								a(href="#" class="linkedin")
							span
								a(href="#" class="twitter")

					.detalle-team
						.nombre CLAUDIA LOAYZA
						.descripcion
							p Omar es Ingeniero de sistemas, MBA y líder del equipo de Innovación y transformación organizacional. Como tal, dirige la estrategia de Bizruptiva comprometiéndose con el usuario, transmitiendo empatía y generando en el equipo un ambiente de colaboración. En su tiempo libre pasea a Perseo tratando de que cada día sea un perro menos travieso.
					.nombre-team CLAUDIA LOAYZA
				
			li
				
				.overlay
					img(src="images/03.jpg")
					.team-redes
							span
								a(href="#" class="linkedin")
							span
								a(href="#" class="twitter")

					.detalle-team
						.nombre KIARA GREEN
						.descripcion
							p Omar es Ingeniero de sistemas, MBA y líder del equipo de Innovación y transformación organizacional. Como tal, dirige la estrategia de Bizruptiva comprometiéndose con el usuario, transmitiendo empatía y generando en el equipo un ambiente de colaboración. En su tiempo libre pasea a Perseo tratando de que cada día sea un perro menos travieso.
					.nombre-team KIARA GREEN

				
			li
				
				.overlay
					img(src="images/04.jpg")
					.team-redes
							span
								a(href="#" class="linkedin")
							span
								a(href="#" class="twitter")

					.detalle-team
						.nombre DENISSE GÁLVEZ
						.descripcion
							p Omar es Ingeniero de sistemas, MBA y líder del equipo de Innovación y transformación organizacional. Como tal, dirige la estrategia de Bizruptiva comprometiéndose con el usuario, transmitiendo empatía y generando en el equipo un ambiente de colaboración. En su tiempo libre pasea a Perseo tratando de que cada día sea un perro menos travieso.
					.nombre-team DENISSE GÁLVEZ
				
			li
				
				.overlay
					img(src="images/05.jpg")
					.team-redes
							span
								a(href="#" class="linkedin")
							span
								a(href="#" class="twitter")

					.detalle-team
						.nombre FABRICIO BARRIGA
						.descripcion
							p Omar es Ingeniero de sistemas, MBA y líder del equipo de Innovación y transformación organizacional. Como tal, dirige la estrategia de Bizruptiva comprometiéndose con el usuario, transmitiendo empatía y generando en el equipo un ambiente de colaboración. En su tiempo libre pasea a Perseo tratando de que cada día sea un perro menos travieso.
					.nombre-team FABRICIO BARRIGA
				
			li
				
				.overlay
					img(src="images/06.jpg")
					.team-redes
							span
								a(href="#" class="linkedin")
							span
								a(href="#" class="twitter")

					.detalle-team
						.nombre ROSARIO FÉLIX
						.descripcion
							p Omar es Ingeniero de sistemas, MBA y líder del equipo de Innovación y transformación organizacional. Como tal, dirige la estrategia de Bizruptiva comprometiéndose con el usuario, transmitiendo empatía y generando en el equipo un ambiente de colaboración. En su tiempo libre pasea a Perseo tratando de que cada día sea un perro menos travieso.
					.nombre-team ROSARIO FÉLIX
				

.barra-contactos
	.elemento-contacto
		h5 ¿Listo para comenzar a innovar?

		.btn-contacto
			a(href="#") CONTÁCTANOS

.barra-instagram
	.elemento-instagram
		h6 #Bizruptiva en Instagram

		span @bizruptiva

.barra-info
	.elementos-info
		.box(class="box-1")
			img(src="images/box-1.jpg")
			.text-box-1
				|Hola, te damos la bienvenida a Bizruptiva, un espacio que busca encontrar soluciones innovadoras para causar un gran impacto en la vida de los peruanos.
		.box(class="box-2")
			img(src="images/box-2.jpg")
		.box(class="box-3")
			img(src="images/box-3.jpg")
		.box(class="box-4")
			img(src="images/box-4.jpg")
		.box(class="box-5")
			img(src="images/box-5.jpg")





			

    		
    	
