    @import "mediaquieres";

    html {
        height: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    * {
        outline: none;
        outline: 0;
    }

    * {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
    }

    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    @font-face {
        font-family: 'ralewaybold';
        src: url('../fonts/raleway-bold-webfont.eot');
        src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/raleway-bold-webfont.woff') format('woff'),
            url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
            url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: auto;
    }

    @font-face {
        font-family: 'ralewayregular';
        src: url('../fonts/raleway-regular-webfont.eot');
        src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/raleway-regular-webfont.woff') format('woff'),
            url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
            url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: auto;
    }

    @font-face {
        font-family: 'ralewaymedium';
        src: url('../fonts/raleway-medium-webfont.eot');
        src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
            url('../fonts/raleway-medium-webfont.woff') format('woff'),
            url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
            url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: auto;
    }

    header {
        padding: 50px 0 0 0;
        position: relative;

        .top {
            width: 100%;
            position: relative;
            margin: 0 auto 160px auto;

            @include tablet {
                margin-bottom: 50px;
                padding: 0;
            }

            padding: 0 30px;

            .elemento-row {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .elemento-column {
                    position: relative;
                    min-height: 1px;

                    #menu_on {
                        display: inline-block;
                        vertical-align: middle;
                        width: 30px;
                        height: 22px;
                        position: relative;
                        z-index: 2;

                        span {
                            width: 100%;
                            height: 3px;
                            display: block;
                            position: absolute;
                            background: #313a48;
                            transition: all 0.25s ease;
                            /* Propiedades a animar | Tiempo | Tipo animación*/
                            transform-origin: 0px 100%;

                            &:nth-child(2) {
                                top: calc(50% - 2px);
                                margin-left: 5px;
                            }

                            &:nth-child(3) {
                                bottom: 0;
                            }
                        }
                    }

                    .logo {
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 35px;

                        @include tablet {
                            width: 80%;
                        }
                    }

                    .btn-contacto {
                        width: 125px;
                        height: 40px;
                        margin-top: 12px;

                        a {
                            display: block;

                            background: #006fba;
                            border-radius: 20px;
                            text-align: center;
                            line-height: 40px;
                            color: #fff;
                            font-family: 'ralewaybold';
                            font-size: 0.875em;
                            text-decoration: none;
                        }

                        @include tablet {
                            display: none;
                        }
                    }
                }
            }
        }

        .menu {
            background: #313a48;
            padding: 50px 35px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 999999;
            display: none;

            .top-menu {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 60px;

                .close {
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 47px;
                    margin-right: 47px;
                }

                .logo-menu {

                    display: inline-block;
                    vertical-align: middle;

                }
            }

            nav {
                display: table;
                clear: both;
                width: 100%;
                content: "";
                padding: 0 0 0 75px;

                ul {
                    li {
                        font-family: 'ralewaybold';
                        font-size: 1.05em;
                        line-height: 60px;

                        a {
                            color: #fff !important;
                            text-decoration: none;
                        }

                        ul.sub-menu {
                            padding: 0 0 0 25px;
                            display: none;

                            li {

                                font-family: 'ralewayregular';
                                font-size: 0.95em;
                                line-height: 40px;

                                a {
                                    color: #c6cedb;
                                }
                            }
                        }

                        &.prensa {
                            display: inline-block;
                            vertical-align: middle;
                            width: 100%;
                            position: relative;

                            a {
                                position: relative;
                                display: block;
                                width: 100%;

                                .open-close {
                                    position: absolute;
                                    right: 0;
                                    top: 25%;
                                    width: 24px;
                                    height: 24px;
                                    cursor: pointer;

                                    &:before {
                                        display: inline-block;
                                        vertical-align: top;
                                        background: url('../images/open-close.png') no-repeat 0 -25px;
                                        width: 24px;
                                        height: 24px;
                                        content: "";
                                    }
                                }

                                .close-open {
                                    position: absolute;
                                    right: 0;
                                    top: 25%;
                                    width: 24px;
                                    height: 24px;
                                    cursor: pointer;

                                    &:before {
                                        display: inline-block;
                                        vertical-align: top;
                                        background: url('../images/open-close.png') no-repeat 0 0;
                                        width: 24px;
                                        height: 24px;
                                        content: "";
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .instagram {
                padding: 140px 0 0 75px;

                .tit-siguenos {
                    color: #fff;
                }

                .icono-instagram {
                    padding-left: 20px;
                }
            }
        }

        @include tablet {
            padding: 50px 10px 0 10px;
        }
    }

    .container-header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .titulo-instagram {
            width: 5%;
            position: relative;

            .content-titulo {
                transform: rotate(-90deg);
                position: absolute;
                bottom: 20%;
                width: 100px;
                left: -20px;

                @include desktop {
                    left: -30px;
                }

                .siguenos {
                    display: inline-block;
                    vertical-align: middle;

                    a {
                        color: #a6aebb;
                        text-decoration: none;
                        display: inline-block;
                        vertical-align: middle;
                        position: relative;
                        font-family: 'ralewaybold';
                        font-size: 0.875em;

                        &:before {
                            display: inline-block;
                            vertical-align: middle;
                            content: "";
                            background: url('../images/icon-instagram-lateral.png') no-repeat;
                            width: 27px;
                            height: 27px;
                            position: absolute;
                            right: -50%;
                            top: -2px;
                        }
                    }
                }

                @include tablet {
                    transform: none;
                    position: relative;
                    left: auto;
                }
            }

            @include tablet {
                display: none;
            }
        }


        .elemento-row {
            width: 95%;
            display: flex;
            justify-content: space-between;
            position: relative;

            @include tablet {
                width: 100%;
                flex-direction: column;
            }

            .box-video {
                width: 50%;
                margin-top: 22px;
                padding: 0 0 0 5px;

                h4 {
                    font-family: 'ralewaybold';
                    font-size: 1.6em;
                    margin: 0;
                    text-align: left;
                    color: #313a48;
                }

                h3 {
                    font-family: 'ralewayregular';
                    font-size: 1em;
                    margin: 0;
                    text-align: left;
                    color: #313a48;
                    margin-top: 30px;
                    line-height: 22px;
                    padding-right: 25%;
                }

                .btn-conoce-mas {
                    width: 160px;
                    height: 40px;
                    border-radius: 50px;
                    border: 1px solid #f05674;
                    font-size: 0.875em;
                    font-family: 'ralewaybold';
                    line-height: 40px;
                    margin-top: 25px;

                    a {
                        text-decoration: none;
                        color: #f05674;
                        display: block;


                        &:before {
                            display: inline-block;
                            vertical-align: middle;
                            content: "";
                            width: 30px;
                            height: 30px;
                            background: url('../images/icono-mas.png') no-repeat;
                            margin: -7px 10px 0 5px;
                        }
                    }

                    @include tablet {
                        display: none;
                    }
                }

                .player {
                    max-width: 500px;
                    height: 280px;
                    position: relative;
                    margin-top: 10px;

                    .ico-play {
                        position: absolute;
                        width: 100%;
                        text-align: center;
                        top: 35%;
                    }
                }

                @include tablet {
                    width: 100%;
                }
            }

            .formas {
                width: 50%;
                height: 450px;
                position: relative;

                .position-formas {
                    position: absolute;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 10;

                    .magenta {
                        width: 285px;
                        height: 322px;
                        position: absolute;
                        top: 20%;
                        right: 35%;


                        z-index: 5;

                        .titulo {
                            font-family: 'ralewaybold';
                            font-size: 1.25em;
                            position: absolute;
                            top: 50%;
                            width: 70%;
                            text-align: center;

                            color: #fff;
                        }
                    }

                    .magenta2 {
                        width: 50px;
                        height: 57px;
                        position: absolute;
                        top: 5%;
                        right: 30px;


                    }

                    .cian {
                        width: 86px;
                        height: 98px;
                        position: absolute;
                        top: -5%;
                        right: 45%;


                    }

                    .cian2 {
                        width: 42px;
                        height: 48px;
                        position: absolute;
                        bottom: -2%;
                        right: 55%;


                    }

                    .azul {
                        width: 214px;
                        height: 246px;
                        position: absolute;
                        top: 50%;
                        right: 0;

                        z-index: 5;

                        .titulo {
                            font-family: 'ralewaybold';
                            font-size: 1.25em;
                            position: absolute;
                            width: 70%;
                            text-align: center;
                            top: 45%;
                            color: #fff;
                        }
                    }

                    .azul2 {
                        width: 25px;
                        height: 27px;
                        position: absolute;
                        top: 25%;
                        right: 45%
                    }

                    .amarillo {
                        width: 381px;
                        height: 433px;
                        position: absolute;
                        bottom: 15%;
                        right: 0;



                        .titulo {
                            font-family: 'ralewaybold';
                            font-size: 20px;
                            position: absolute;
                            width: 70%;
                            text-align: center;
                            top: 46%;
                            color: #fff;
                        }
                    }

                    .amarillo2 {
                        width: 54px;
                        height: 61px;
                        position: absolute;
                        bottom: -10%;
                        right: 65px;


                    }
                }

                @include tablet {
                    width: 100%;
                }
            }

            .scroll-bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                text-align: center;
                width: 100%;
                height: 50px;
                cursor: pointer;
            }
        }
    }




    .banner-discover {
        background: url(../images/discover.jpg) no-repeat center center;
        width: 100%;
        height: 770px;
        display: table;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        position: relative;

        .titulo-discover {
            width: 5%;
            position: relative;

            .content-titulo {
                transform: rotate(-90deg);
                position: absolute;
                top: 50%;

                @include desktop {
                    left: -10px;
                }

                .siguenos {
                    display: inline-block;
                    vertical-align: middle;

                    a {
                        color: #fff;
                        text-decoration: none;
                        display: inline-block;
                        vertical-align: middle;
                        position: relative;
                        font-family: 'ralewaybold';
                        font-size: 0.875em;
                    }

                    @include tablet {
                        display: table-cell;
                    }
                }

                @include tablet {
                    transform: none;
                    position: relative;
                    left: auto;
                    top: auto;
                    height: 100%;
                    display: table;
                    width: 100%;
                }
            }

            @include tablet {
                width: 100%;
                text-align: center;
                height: 80px;
            }
        }

        .contenido-banner {
            display: table;
            height: 100%;
            text-align: center;
            color: #fff;
            width: 95%;
            position: relative;

            .centra-banner {
                display: table-cell;
                vertical-align: middle;

                .titulo-banner {
                    display: block;
                    font-family: 'ralewaybold';
                    font-size: 1.25em;
                    margin-bottom: 60px;
                }

                .descripcion-banner {
                    display: block;

                    p {
                        font-family: 'ralewayregular';
                        font-size: 1.6em;
                        margin: 0;

                        @include tablet {
                            font-size: 0.875em;
                            
                        }
                    }
                }
            }

            .scroll-bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                text-align: center;
                width: 100%;
                height: 50px;
                cursor: pointer;
            }

            @include tablet {
                width: 100%;
            }
        }

        @include tablet {
            width: 100%;
            flex-direction: column;
        }
    }

    .proyectos {
        display: flex;
        justify-content: space-between;
        background: #313a48;
        height: auto;
        position: relative;

        .titulo-proyectos {
            width: 5%;
            background: #313a48;
            position: relative;

            .content-titulo {
                transform: rotate(-90deg);
                position: absolute;
                top: 50%;

                @include desktop {
                    left: -10px;
                }

                .siguenos {
                    display: inline-block;
                    vertical-align: middle;

                    a {
                        color: #fff;
                        text-decoration: none;
                        display: inline-block;
                        vertical-align: middle;
                        position: relative;
                        font-family: 'ralewaybold';
                        font-size: 0.875em;
                    }

                    
                }

                @include tablet {
                    transform: none;
                    text-align: center;
                    position: relative;
                    left: auto;
                    display: table-cell;
                    vertical-align: middle;
                    top: auto;
                }

               
            }

            @include tablet {
                width: 100%;
                height: 70px;
                display: table;
            }

           
        }

        .banner-proyectos {
            width: 95%;
            background: url('../images/banner-proyectos.jpg') no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            position: relative;
            display: flex;
            justify-content: space-between;
            position: relative;
            height: 100vh;

            &:before {
                position: absolute;
                right: 0;
                width: 50%;
                height: 100%;
                display: block;
                content: "";
                background: rgba(49, 58, 72, .9);
                z-index: 5;

                @include tablet {
                    width: 100%;
                    bottom: 0;
                    height: 50%;
                    background: rgba(49, 58, 72, 1);
                }
            }

            .play-video {
                position: relative;
                top: 50%;
                text-align: center;
                height: 80px;

                .ico-play {
                    position: absolute;
                    width: 100%;

                    img {
                        width: auto;
                        height: auto;
                    }

                }
            }

            .content-eco {
                width: 50%;
                height: 100%;
                position: relative;
                right: 0;
                top: 0;
                z-index: 10;

                .info-eco {
                    display: table;
                    width: 100%;
                    height: 100%;

                    .elementos-eco {
                        display: table-cell;
                        vertical-align: middle;
                        padding: 0 25px 0 45px;

                        .titulo-eco {
                            font-family: 'ralewaybold';
                            font-size: 1.6em;
                            color: #fff;
                            margin: 20px 0px;
                            @include apaisada {
                                margin: 20px 30px;
                            }
                        }

                        .titulo-2 {
                            font-family: 'ralewaybold';
                            font-size: 0.750em;
                            color: #fff;
                            color: #fff;
                        }

                        .descripcion-eco {
                            p {
                                font-family: 'ralewaymedium';
                                font-size: 1em;
                                color: #fff;
                                line-height: normal;
                                margin: 0;

                                @include tablet {
                                    line-height: 20px;
                                }
                            }
                        }

                        .btn-eco {
                            width: 140px;
                            height: 40px;
                            border: 1px solid #faa61a;
                            border-radius: 20px;
                            text-align: center;
                            margin-top: 20px;

                            a {
                                text-decoration: none;
                                color: #fff;
                                font-family: 'ralewaybold';
                                font-size: 0.875em;
                                line-height: 40px;
                                display: block;

                                &:after {
                                    display: inline-block;
                                    vertical-align: middle;
                                    width: 5px;
                                    height: 8px;
                                    background: url('../images/arrow.png') no-repeat;
                                    content: "";
                                    margin: -5px 0 0 10px;
                                }
                            }
                        }
                    }
                }

                @include tablet {
                    width: 100%;
                    height: 50%;
                }

            }

            .scroll-bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                text-align: center;
                width: 100%;
                height: 50px;
                cursor: pointer;
                z-index: 10;

                @include tablet {
                    display: none;
                }
            }

            .base-video {
                position: relative;
                width: 50%;
                height: auto;

                img {
                    width: 100%;
                    height: auto;

                    @include tablet {
                        width: auto;
                    }
                }

                @include tablet {
                    width: 100%;
                    height: 50%;
                }
            }

            .contenedor-video {
                position: absolute;
                width: 100%;
                height: 100%;


                iframe {
                    width: 100%;
                    height: auto;
                }
            }

            @include tablet {
                display: flow-root;
                width: 100%;
                background-size: 100%;
            }

        }

        @include tablet {
            display: flow-root;
        }
    }

    .bizruptores {
        display: flex;
        justify-content: space-between;

        .titulo-bizruptores {
            width: 5%;
            position: relative;

            .content-titulo {
                transform: rotate(-90deg);
                position: absolute;
                top: 50%;

                @include bigLapto {
                    right: -5px;
                }

                @include desktop {
                    left: -10px;
                }

                .siguenos {
                    display: inline-block;
                    vertical-align: middle;

                    a {
                        color: #313a48;
                        text-decoration: none;
                        display: inline-block;
                        vertical-align: middle;
                        position: relative;
                        font-family: 'ralewaybold';
                        font-size: 0.875em;
                    }

                    @include tablet {
                        display: table-cell;
                        text-align: center;
                    }
                }

                @include tablet {
                    transform: none;
                    position: relative;
                    left: auto;
                    height: 100%;
                    display: table;
                    width: 100%;
                    top: 0;
                    right: 0;
                }
            }

            @include tablet {
                height: 70px;
                width: 100%;
            }
        }

        .team-bizruptores {
            width: 95%;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                li {
                    flex-grow: 0;
                    height: auto;
                    width: calc(100%*(1/3) - 0px - 0px);
                    position: relative;
                    overflow: hidden;
                    cursor: default;

                    img {
                        width: 100%;
                        height: auto;
                    }

                    .overlay {
                        display: block;
                        color: #fff;
                        position: relative;


                        &:after {
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 100%;
                            content: "";
                            top: 0;
                            left: 0;
                            background: rgba(49, 58, 72, .6);
                            transition: all 0.5s linear;
                        }

                        &:hover:before {
                            background: rgba(0, 111, 186, .6);
                            transition: all 0.5s linear;
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 100%;
                            content: "";
                            top: 0;
                            left: 0;

                            /* move this here from :hover */
                        }

                        &:hover {
                            .detalle-team {
                                display: block;

                                @include tablet {
                                    display: none;
                                }
                            }
                        }

                        &:hover:after {
                            content: "";
                            background: none;
                        }

                        .detalle-team {
                            position: absolute;
                            top: 45%;
                            left: 20px;
                            display: none;
                            z-index: 10;

                            @include bigLapto {
                                top: 25%;
                            }

                            .nombre {
                                font-family: 'ralewaybold';
                                font-size: 1.25em;
                                color: #fff;
                                margin-bottom: 25px;

                                @include desktop {
                                    font-size: 0.9em;
                                    margin-bottom: 10px;
                                }
                            }

                            .descripcion {
                                p {
                                    font-family: 'ralewayregular';
                                    font-size: 0.95em;
                                    color: #fff;
                                    text-align: left;
                                    padding: 0 20px 0 0;
                                    margin: 0;
                                    line-height: 20px;
                                    min-height: 150px;
                                    overflow: hidden;

                                    @include desktop {
                                        font-size: 0.8em;
                                        line-height: 18px;
                                    }
                                }
                            }
                        }

                        .nombre-team {
                            position: absolute;
                            left: 20px;
                            bottom: 25px;
                            display: block;
                            font-family: 'ralewaybold';
                            font-size: 1.25em;
                            color: #fff;
                            z-index: 5;

                            @include desktop {
                                font-size: 0.9em;
                            }

                            @include tablet {
                                bottom: 70px;
                            }
                        }

                        .team-redes {
                            margin: 30px 25px 0 0;

                            span {
                                display: inline-block;
                                vertical-align: middle;
                                margin: 0 10px;

                                a {
                                    display: block;

                                    &.linkedin {
                                        background: url('../images/team-redes.png') no-repeat 0 0;
                                        width: 18px;
                                        height: 18px;
                                    }

                                    &.twitter {
                                        background: url('../images/team-redes.png') no-repeat -34px -1px;
                                        width: 20px;
                                        height: 17px;
                                    }
                                }
                            }

                            position: absolute;
                            top:0;
                            right:0;
                            z-index:10;

                            @include tablet {
                                left: 0;
                                bottom: 0;
                                top: auto;
                                margin: 0 0 25px 10px;
                            }
                        }
                    }

                    @include tablet {
                        width: calc(100%*(1/2) - 0px - 0px);
                    }


                }
            }

            @include tablet {
                width: 100%;
            }
        }

        @include tablet {
            width: 100%;
            flex-direction: column;
        }
    }

    .barra-contactos {
        width: 100%;
        height: 190px;
        background: #313a48;
        text-align: center;
        display: table;

        .elemento-contacto {
            display: table-cell;
            vertical-align: middle;

            h5 {
                font-family: 'ralewaybold';
                font-size: 1.25em;
                color: #fff;
            }

            .btn-contacto {
                width: 180px;
                height: 45px;
                border-radius: 30px;
                background: #f05674;
                margin: 0 auto;
                line-height: 45px;
                font-family: 'ralewaybold';
                font-size: 1em;
                margin-top: 30px;

                a {
                    color: #fff;
                    text-decoration: none;
                    display: block;
                }
            }
        }
    }

    .barra-instagram {
        width: 100%;
        height: 150px;
        display: table;
        text-align: center;

        .elemento-instagram {
            display: table-cell;
            vertical-align: middle;

            h6 {
                color: #006fb9;
                font-family: 'ralewaybold';
                font-size: 1.25em;
            }

            span {
                color: #f05574;
                font-family: 'ralewayregular';
                font-size: 0.875em;
            }
        }
    }

    .barra-info {
        width: 100%;

        .elementos-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .box {
                flex-grow: 0;
                height: auto;
                width: calc(100%*(1/5) - 0px - 0px);
                position: relative;
                overflow: hidden;
                text-align: left;

                &.box-1 {
                    position: relative;

                    &:before {
                        position: absolute;
                        background: rgba(13, 118, 190, .95);
                        content: "";
                        display: block;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                    }

                    .text-box-1 {
                        position: absolute;
                        bottom: 20px;
                        left: 0;
                        padding: 0 25px;
                        color: #fff;
                        font-family: 'ralewayregular';
                        font-size: 1.05em;

                        @include desktop {
                            font-size: 0.8em;
                        }

                        @include tablet {
                            bottom: 50%;
                            text-align: center;
                            font-size: 0.875em;
                        }
                    }
                }

                &.box-2 {
                    background: #006fb9;

                    @include tablet {
                        display: none;
                    }
                }

                &.box-3 {
                    background: #00b5d2;

                    @include tablet {
                        display: none;
                    }
                }

                &.box-4 {
                    background: #f05574;

                    @include tablet {
                        display: none;
                    }
                }

                &.box-5 {
                    background: #f9a61a;

                    @include tablet {
                        display: none;
                    }
                }

                @include tablet {
                    width: calc(100%*(1/1) - 0px - 0px);
                    width: 100%;
                }

            }
        }
    }




    footer {
        padding: 0 50px;

        .elementos-footer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            height: 100px;

            .box-footer {
                position: relative;
                line-height: 100px;

                @include tablet {
                    line-height: normal;
                }
            }

            @include tablet {
                width: 100%;
                flex-direction: column-reverse;
                text-align: center;
            }
        }

        .scroll-up {
            line-height: 100px;
            cursor: pointer;
            //padding-left: 8.5%;

            @include tablet {
                line-height: normal;
            }
        }

        @include tablet {
            .logo-pie-instagram {
                display: none;
            }
        }

        @include tablet {
            padding: 25px 0 20px 0;
        }
    }