footer
	.elementos-footer
		.box-footer(class="logo-pie-instagram")
				a(href="#")
					img(src="images/ico-instagram.png")

		.scroll-up(class="btn-footer")
			img(src="images/arrow-up.png")
		.box-footer
			
				img(src="images/logo-visanet.png")