header(id="header")
	.menu
		.top-menu
			.close
				img(src="images/btn-cerrar.png")
			.logo-menu
				img(src="images/logo-menu.png")
		nav
						ul
							li
								a(href="#") Quiénes somos

							li
								a(href="#") Proyectos

							li(class="prensa")

								a(href="#") Prensa 
									span(class="open-close")

								ul(class="sub-menu") 
									li 
										a(href="#") Eventos
									li 
										a(href="#") Noticias
									li 
										a(href="#") Fotos
									li 
										a(href="#") Videos

							li

								a(href="#") Notas de Interés
		.instagram
			span(class="tit-siguenos") Siguenos en:
			span(class="icono-instagram")
				a(href="#")
					img(src="images/icono-instagram.png")
		
	
	.menu-blanco
		.top-menu
			.close
				img(src="images/btn-cerrar2.jpg")
			.logo-menu
				img(src="images/logo.png")
		nav
						ul
							li(class="active")
								a(href="#") Quiénes somos

							li
								a(href="#") Proyectos

							li(class="prensa")

								a(href="#") Prensa 
									span(class="open-close")

								ul(class="sub-menu") 
									li 
										a(href="#") Eventos
									li 
										a(href="#") Noticias
									li 
										a(href="#") Fotos
									li 
										a(href="#") Videos

							li

								a(href="#") Notas de Interés
							li
								a(href="#") Contáctenos
		.instagram
			span(class="tit-siguenos") Siguenos en:
			span(class="icono-instagram")
				a(href="#")
					img(src="images/instagram-color.png")
			
	.top
		.elemento-row
			.elemento-column
				a(href="#" id="menu_on")
					span
					span
					span
				.logo
					img(src="images/logo.png")
			.elemento-column
				.btn-contacto
					a(href="#") Contáctanos
	.container-header
				.titulo-instagram
					.content-titulo
						.siguenos
							a(href="#") Sigueneos en
				.elemento-row
					.box-video
						h4 Somos el Centro de Innovación de VisaNet, un espacio que busca salirse de la caja para encontrar soluciones donde otros ven problemas
						h3 Creamos impacto en la vida de los peruanos transformando los negocios para impulsar el desarrollo del país. 
						.btn-conoce-mas
							a(href="#")
								|CONOCE MÁS
					.formas
						.position-formas
							.conos-1
								div(class="cian")
									img(src="images/cian.png")
								div(class="azul2")
									img(src="images/azul2.png")
								div(class="magenta")
									img(src="images/magenta.png")
								div(class="cian2")
									img(src="images/cian2.png")
							
							.conos-2
								div(class="amarillo")
									img(src="images/amarillo.png")
								div(class="magenta2")
									img(src="images/magenta2.png")
								div(class="azul")
									img(src="images/azul.png")
								div(class="amarillo2")
									img(src="images/amarillo2.png")
							
					.scroll-bottom(class="btn-header")
						img(src="images/scroll-bottom.png")
